<!-- Mensagem de feedback de sucesso e erro -->
<app-mensagem-feedback 
  [mensagemErro]=categoriaConsultaMensageErro
  (fecharErro)="removerErro()">
</app-mensagem-feedback>

<div id="accordion">
  <div class="card">

    <!-- Titulo do filtro -->
    <div class="card-header" id="headingFilter">
      <h5 class="mb-0">
        <h5 data-toggle="collapse" data-target="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter">
          Filtro - Categoria
        </h5>
      </h5>
    </div>

    <!-- Campos do filtro -->
    <div id="collapseFilter" class="collapse show" aria-labelledby="headingFilter" data-parent="#accordion">
      <div class="card-body">

        <form novalidate [formGroup]="formFiltroCategoria" (ngSubmit)="buscar()">

          <!-- campo descricao -->
          <div class="row">
            <div class="col">
              <label>Descrição</label>
              <input type="text" 
                class="form-control" 
                name="descricao"
                formControlName="descricao">
            </div>
          </div>
            
          <!-- campo ativo -->
          <div class="row">
            <div class="col">
              <label>Ativo</label>
              <select 
                class="form-control"
                name="ativo"
                formControlName="ativo">
                <option value=""></option>
                <option value="S">Sim</option>
                <option value="N">Não</option>
              </select>
            </div>
          </div>

          <!-- Botões -->
          <div class="row">
            <div class="col">
              <button type="button" (click)="limpar()" class="btn btn-primary">
                Limpar
              </button>

              <button routerLink="/cadastro/categoria/novo" class="btn btn-primary">
                Novo
              </button>

              <button type="submit" class="btn btn-primary">
                Buscar
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>

<hr/>

<!-- Resultado da consulta -->
<div class="table-responsive" *ngIf="categorias && categorias.length">
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>Descrição</th>
        <th>Ativo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of categorias" [routerLink]="['alterar', categoria.id]">
        <td>{{categoria.descricao}}</td>
        <td>{{categoria.ativo === 'S' ? 'Sim' : 'Não'}}</td>
      </tr>         
    </tbody>
  </table>
</div>
