<div [id]=idModal
     tabindex="-1" 
     class="modal fade"
     role="dialog" 
     aria-labelledby=labelledby
     aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id=labelledby>{{titulo}}</h5>
      </div>
      <div class="modal-body">
        {{mensagem}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
        <button type="button" class="btn btn-primary" (click)="confirmar()" data-dismiss="modal">Sim</button>
      </div>
    </div>
  </div>

</div>