/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-touched {
    border: 1px solid red;
}
input.ng-valid.ng-touched {
    border: 1px solid green;
}

/*Para deixar os botões grandes e em uma linha quando no mobile*/
@media all and (max-width:480px) {
    .btn { 
        width: 100%; 
        display:block; 
        margin-bottom: 5px;
    }
 } 